* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgb(169,169,169);
}
.gallery {
    position: relative;
    display: flex;
}
.slider {
    height: 90vh;
    width: 100vw; 
    text-align: center;
    overflow: hidden;
    position: relative;
}
.show {
    display: block;
    animation-name: show-in;
    animation-duration: 2s;
}
.hide {
    display: none;
}
img {
    width: 100%;
}
.caption {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}
.count {
    position: absolute;
    top: 0;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(0,0,0,.3);
}

.left-arrow, .right-arrow {
    position: absolute;
    cursor: pointer;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    top: 50%;
    margin-top: -2rem;
    transition: 0.6s;
}
.left-arrow:hover, .right-arrow:hover {
    background-color: rgba(0,0,0,.6);
}

.left-arrow {
    left: 0;
    border-radius: 0 3px 3px 0;
}
.right-arrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dots {
    text-align: center;
    margin-top: 1rem;
}
.dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ececec;
    cursor: pointer;
    margin-right: 0.7rem;
    transition: 0.6s;
}
.dot:hover {
    background-color: rgba(0,0,0,.3);
}
.dot-showed {
    background-color: rgba(0,0,0,.3);
}

@keyframes show-in {
    0% {
        opacity: 0;
    

    }
    100% {
        opacity: 1;
        
    }
}